<html>
    <head>
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
    </head>
    <body>
        <p>Connectez-vous (pas de mot de passe requis)</p>
        <form action="" method="post">
            <label for="fname">Nom utilisateur</label><br>
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" value="{{ request.form.username }}"><br><br>
            <input id="submit" type="submit" value="Connexion">
        </form>
    </body>
</html>